In [1]:
l = []

In [2]:
type(l)

list

In [3]:
l1 = list()

In [4]:
type(l1)

list

In [5]:
l2 = [2,3,4,5,6,6]

In [6]:
len(l2)

6

In [7]:
l3 = [1,2,3,34.45,12.34, "sudh" , True , 34+78j]

In [8]:
type(l3)

list

In [9]:
l3[0]

1

In [10]:
l3[5]

'sudh'

In [11]:

type(l3[0])

int

In [12]:
type(l3[5])

str

In [13]:
l3[5][0]

's'

In [14]:
l3[5][0:2]

'su'

In [17]:
l3[7]

(34+78j)

In [18]:
a = l3[7]

In [19]:
a.real

34.0

In [20]:
a.imag

78.0

In [21]:
l3

[1, 2, 3, 34.45, 12.34, 'sudh', True, (34+78j)]

In [22]:
l3[-1]

(34+78j)

In [23]:
l3[-3]

'sudh'

In [24]:
l3[100]

IndexError: list index out of range

In [25]:
l3

[1, 2, 3, 34.45, 12.34, 'sudh', True, (34+78j)]

In [26]:
l3[0:3]

[1, 2, 3]

In [27]:
l3[0:3:1]

[1, 2, 3]

In [28]:
l3[-8:-5:1]

[1, 2, 3]

In [29]:
l3[0::2]

[1, 3, 12.34, True]

In [30]:
l3[::-1]

[(34+78j), True, 'sudh', 12.34, 34.45, 3, 2, 1]

In [31]:
l4 = [1,2,3,4,["sudh" , "kumar"] , 3,4,5,"python" , "list" , [2,3,3,5,5]]

In [32]:

l4[4][1][3]

'a'

In [33]:
l4[-7][-1][-2]

'a'

In [34]:
list()

[]

In [35]:
l4

[1, 2, 3, 4, ['sudh', 'kumar'], 3, 4, 5, 'python', 'list', [2, 3, 3, 5, 5]]

In [36]:
l4[0] ="sudhanshu"

In [37]:
l4

['sudhanshu',
 2,
 3,
 4,
 ['sudh', 'kumar'],
 3,
 4,
 5,
 'python',
 'list',
 [2, 3, 3, 5, 5]]

In [38]:
s = "sudh"

In [39]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [40]:

s = "sudh"

In [41]:
s = "audh"

In [42]:
s

'audh'

In [43]:
l4[3] = [4,5,6,76,7,87,8]

In [44]:
l4

['sudhanshu',
 2,
 3,
 [4, 5, 6, 76, 7, 87, 8],
 ['sudh', 'kumar'],
 3,
 4,
 5,
 'python',
 'list',
 [2, 3, 3, 5, 5]]

In [45]:
list("sudh")

['s', 'u', 'd', 'h']

In [46]:
list(["sudh"])

['sudh']

In [48]:
l4

['sudhanshu',
 2,
 3,
 [4, 5, 6, 76, 7, 87, 8],
 ['sudh', 'kumar'],
 3,
 4,
 5,
 'python',
 'list',
 [2, 3, 3, 5, 5]]

In [127]:
l5 = [23,45,"sudh", [2,3,4,5] , 23+76J]

In [128]:
len(l5)

5

In [129]:
l5.append(3)

In [52]:
l5

[23, 45, 'sudh', [2, 3, 4, 5], (23+76j), 3]

In [131]:
l5.append([4,5,6,7])

In [132]:
l5

[23, 45, 'sudh', [2, 3, 4, 5], (23+76j), 3, [4, 5, 6, 7]]

In [135]:
l5

[23, 45, 'sudh', [2, 3, 4, 5], (23+76j), 3, [4, 5, 6, 7], 's', 'u', 'd', 'h']

In [136]:
l5.extend("sudh")

In [138]:
l5

[23,
 45,
 'sudh',
 [2, 3, 4, 5],
 (23+76j),
 3,
 [4, 5, 6, 7],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h']

In [58]:
l5.extend([3,4,5,6])

In [59]:
l5

[23,
 45,
 'sudh',
 [2, 3, 4, 5],
 (23+76j),
 3,
 [4, 5, 6, 7],
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5,
 6]

In [60]:
l6 = [4,5,6,"sudh"]

In [61]:
l6.extend(3)

TypeError: 'int' object is not iterable

In [62]:

l6

[4, 5, 6, 'sudh']

In [63]:
l6.insert(1,"sudh")

In [66]:

l6

[4, 'sudh', 5, 6, 'sudh']

In [67]:
l6.insert(0,[4,5,6])

In [68]:
l6

[[4, 5, 6], 4, 'sudh', 5, 6, 'sudh']

In [69]:
l6

[[4, 5, 6], 4, 'sudh', 5, 6, 'sudh']

In [70]:
l6.remove("sudh")

In [71]:
l6.remove(324534)

ValueError: list.remove(x): x not in list

In [72]:
l6

[[4, 5, 6], 4, 5, 6, 'sudh']

In [73]:
l6.pop()

'sudh'

In [74]:

l6

[[4, 5, 6], 4, 5, 6]

In [75]:
l6.pop(2)

5

In [76]:
l6

[[4, 5, 6], 4, 6]

In [77]:

l6.pop(100)

IndexError: pop index out of range

In [139]:
l5

[23,
 45,
 'sudh',
 [2, 3, 4, 5],
 (23+76j),
 3,
 [4, 5, 6, 7],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h']

In [140]:
l5.pop(3)

[2, 3, 4, 5]

In [144]:
l5

[23,
 45,
 'sudh',
 (23+76j),
 3,
 [4, 5, 6, 7],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h']

In [146]:
l5.index(4)

ValueError: 4 is not in list

In [147]:
l5.index(3)

4

In [148]:
l5.count(3)

1

In [149]:
l5.count(100)

0

In [150]:
l7 = [3,4,5,6,2,4,5,7,3,4,5]

In [151]:
l7.sort()

In [88]:
l7.sort()

In [89]:
l7.sort(reverse=True)

In [90]:
l7

[7, 6, 5, 5, 5, 4, 4, 4, 3, 3, 2]

In [91]:
l8 = [3,4,5,6,"sudh" , "kumar",3,4,5]

In [92]:
l8.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [93]:
l9 = ['sudh' , 'kumar' , "python"]

In [94]:
l9.sort()

In [95]:
l9

['kumar', 'python', 'sudh']

In [96]:
l10 = [2,3,4,4,23,45,34.56,1.34]

In [102]:
l10.sort()

In [103]:
l10

[1.34, 2, 3, 4, 4, 23, 34.56, 45]

In [152]:
l5

[23,
 45,
 'sudh',
 (23+76j),
 3,
 [4, 5, 6, 7],
 's',
 'u',
 'd',
 'h',
 's',
 'u',
 'd',
 'h']

In [153]:
l5.pop(3)

(23+76j)

In [156]:
l5

[23, 45, 'sudh', 3, [4, 5, 6, 7], 's', 'u', 'd', 'h', 's', 'u', 'd', 'h']

In [157]:
l5.index(4)

ValueError: 4 is not in list

In [158]:
l5.index(3)

3

In [159]:
l5.count(3)

1

In [160]:
l5.count(100)

0

In [161]:
l7 = [3,4,5,6,2,4,5,7,3,4,5]

In [162]:
l7.sort()

In [163]:
l7

[2, 3, 3, 4, 4, 4, 5, 5, 5, 6, 7]

In [164]:
l7.sort(reverse=True)

In [165]:
l7

[7, 6, 5, 5, 5, 4, 4, 4, 3, 3, 2]

In [166]:
l8 = [3,4,5,6,"sudh" , "kumar",3,4,5]

In [167]:
l8.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [168]:
l9 = ['sudh' , 'kumar' , "python"]

In [169]:
l9.sort()

In [170]:
l9

['kumar', 'python', 'sudh']

In [171]:
l10 = [2,3,4,4,23,45,34.56,1.34]

In [172]:
l10.sort()

In [173]:
l10

[1.34, 2, 3, 4, 4, 23, 34.56, 45]

In [174]:
l5

[23, 45, 'sudh', 3, [4, 5, 6, 7], 's', 'u', 'd', 'h', 's', 'u', 'd', 'h']

In [175]:
l5 = [::-1]

SyntaxError: invalid syntax (3914638551.py, line 1)

In [176]:
l5.reverse()

In [177]:
l5

['h', 'd', 'u', 's', 'h', 'd', 'u', 's', [4, 5, 6, 7], 3, 'sudh', 45, 23]

In [178]:
l4

['sudhanshu',
 2,
 3,
 [4, 5, 6, 76, 7, 87, 8],
 ['sudh', 'kumar'],
 3,
 4,
 5,
 'python',
 'list',
 [2, 3, 3, 5, 5]]

In [179]:
l8

[3, 4, 5, 6, 'sudh', 'kumar', 3, 4, 5]

In [180]:
l8.copy()

[3, 4, 5, 6, 'sudh', 'kumar', 3, 4, 5]

In [181]:
l11 = [2,3,4,5]

In [182]:
l12 = l11

In [183]:
l13 = l11.copy()

In [184]:
l11

[2, 3, 4, 5]

In [185]:
l12

[2, 3, 4, 5]

In [186]:
l13

[2, 3, 4, 5]

In [187]:
l11[0] = "sudh"

In [188]:
l11

['sudh', 3, 4, 5]

In [189]:
l12

['sudh', 3, 4, 5]

In [190]:
l13

[2, 3, 4, 5]

In [191]:
l13[0] = 2343242

In [192]:
l13

[2343242, 3, 4, 5]

In [193]:
l12

['sudh', 3, 4, 5]

In [194]:
l11

['sudh', 3, 4, 5]

In [195]:
l11

['sudh', 3, 4, 5]

In [196]:
l11.clear()

In [197]:
l11

[]

In [198]:
l13

[2343242, 3, 4, 5]

In [199]:
l14 = ["sudh" , "kumar" , "python"]

In [200]:
sum(l14)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [201]:
l13

[2343242, 3, 4, 5]

In [202]:
min(l13)

3

In [203]:
max(l13)

2343242

In [204]:
sorted(l13)

[3, 4, 5, 2343242]

In [205]:
list(reversed(l13))

[5, 4, 3, 2343242]

In [207]:
l11

[]